{% extends 'partials/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">

{% for message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
	{{ message[1] }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

	<div class="row justify-content-center">
		<div class="card col-12 col-md-10 col-lg-8">
			<div class="card-body">
				<h1 class="card-title text-center">Login</h1>
				<form action="{{ url_for('auth.login') }}" method="POST">
					<div class="card-body form-group">
						{{ form.hidden_tag() }}

						

						<div class="mb-3">
							{{ form.username_or_email.label(class="form-label") }}
							<div class="input-group">
								{{ form.username_or_email(class="form-control", placeholder="john@example.com", aria_label="Username or Email",
								aria_describedby="username_or_email") }}
							</div>
						</div>

						<div class="mb-3">
							{{ form.password.label(class="form-label") }}
							<div class="input-group">
								{{ form.password(class="form-control", placeholder="Password", aria_label="Password",
								aria_describedby="password") }}
							</div>
						</div>

						<div class="mb-3">
							{{ form.challenge_select.label(class="form-label") }}
							<div class="input-group">
								{{ form.challenge_select(class="form-select", aria_label="Challenge Select",
								aria_describedby="challenge_select") }}
							</div>
						</div>

						<div class="input-group mb-3 d-grid gap-2">
							{{ form.submit(class="btn btn-secondary") }}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}