{% extends "partials/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">

    {% for message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
        {{ message[1] }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="row justify-content-center">
        <div class="card col-12 col-md-10 col-lg-8">
            <div class="card-body">
                <h1 class="card-title text-center">QR Code Scanner</h1>
                <div class="my-3">
                    <form action="{{ url_for('auth.profile_qr') }}" method="POST">
                        <div class="input-group mt-3">
                            <input type="text" class="form-control" id="qr" name="qr" placeholder="Enter QR Code">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}